<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>230356188010-cge66q0qca7c99o013di28qjg78ioei3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230356188010-cge66q0qca7c99o013di28qjg78ioei3</string>
	<key>API_KEY</key>
	<string>AIzaSyBN-AXhBihkoLuBAeQrCKiNCVtfzhsApo8</string>
	<key>GCM_SENDER_ID</key>
	<string>230356188010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qatarmuseums.qatarmuseumsapp</string>
	<key>PROJECT_ID</key>
	<string>qmmobileios</string>
	<key>STORAGE_BUCKET</key>
	<string>qmmobileios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230356188010:ios:cbed36bf3f587c30</string>
	<key>DATABASE_URL</key>
	<string>https://qmmobileios.firebaseio.com</string>
</dict>
</plist>